# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../:\Users\alber\PycharmProjects\ALS_proyecto-Sabucedo_Gonzalez_Alberto_Mateo\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
